.bg {
	&-base {
		background-size: cover;
		background-position: center center;
	}

	&-replay {
		background-image: url(../images/people2.png);
	}

	&-subscribe {
		height: 400px;
		background-image: url(../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg);
	}

	&-art {
		height: 480px;
		background-image: url(../images/ricardo-angel-1.jpg);
	}

	&-info-celebration {
		height: 400px;
	}
}
