.checkout {
	height: calc(100vh - 81px);

	&-next {
		margin-top: 14px;
	}

	&-btn {
		padding: 10px 0;

		&-group {
			margin-top: 14px;
		}
	}

	&-steps {
		padding-left: 48px;
		padding-right: 48px;

		@include mobile() {
			padding-left: 9px;
			padding-right: 9px;
		}
	}

	&-step {
		@include mobile() {
			font-size: 14px;
		}

		&::before {
			content: "";
			width: 8px;
			height: 8px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			border-radius: 50%;
			background-color: white;
			border: 1px solid $primary;
			z-index: 10;
		}

		&.active {
			font-weight: 500;

			&::before {
				background: $primary;
			}
		}
	}

	&-img {
		height: 84px;
		object-fit: cover;
	}

	&-prev-btn {
		padding: 10px 62px;
	}

	&-form {
		&-input {
			padding: 7px 12px;
		}
	}

	&-price {
		&-wrapper {
			margin-bottom: 14px;
		}

		&-details {
			margin-bottom: 9px;
		}
	}

	&-3-form {
		margin-bottom: 165px;
	}

	&-4 {
		&-wrapper {
			margin-top: 102px;
		}

		&-success-icon {
			font-size: 44px;
			margin-bottom: 10px;
		}

		&-btn {
			padding: 10px 96px;
		}
	}
}
