// continue later
.checkout {
	height: calc(100vh - 81px);

	&-img {
		height: 84px;
		object-fit: cover;
	}

	&-3-form {
		margin-bottom: 165px;

		@include mobile() {
			margin-bottom: 52px;
		}
	}

	&-4 {
		height: calc(100vh - 142px);
	}

	&-success-icon {
		font-size: 44px;
		margin-bottom: 10px;
	}
}
