.info {
	&-desc {
		text-indent: 25px;
	}

	&-ticket {
		&-img {
			height: 256px;
		}

		&-selection {
			width: 65px;
			border-bottom: 1px solid transparent;
			transition: border 0.1s;

			&:hover {
				border-color: $primary;
			}
		}

		&-count {
			border-right: 1px solid #000;

			@include mobile() {
				border: none;
			}
		}
	}

	&-highlight {
		margin-bottom: 23px;
	}

	&-celebration {
		&-img {
			height: 559px;
		}
	}

	&-img-text {
		width: 65px;
	}
}
