.product {
	&-details {
		&-wrapper {
			height: 256px;
		}

		&-img {
			height: 256px;
		}

		&-ticket {
			&-text {
				margin-bottom: 23px;
			}

			&-selection {
				width: 65px;
				transition: border 0.15s;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom-color: $primary;
				}

				&-active {
					border-bottom-color: $primary;
				}
			}

			&-btn {
				padding: 10px 96px;
			}
		}
	}
}

.info {
	&-desc {
		text-indent: 25px;
	}

	&-ticket {
		&-img {
			height: 256px;
		}

		&-selection {
			width: 65px;
			border-bottom: 1px solid transparent;
			transition: border 0.1s;

			&:hover {
				border-color: $primary;
			}
		}
	}

	&-pricing {
		// height: 256px;
	}

	&-highlight {
		margin-bottom: 23px;
	}

	&-celebration {
		&-img {
			height: 559px;
		}

		&-banner {
			height: 400px;
			object-fit: cover;
		}
	}

	&-btn {
		margin-top: 42px;
	}

	&-img-text {
		width: 65px;
	}
}
