.index {
	&-popular {
		&-btn {
			padding-top: 10px;
			padding-bottom: 10px;

			&-group {
				margin-top: 68px;

				@include tablet() {
					margin-top: 20px;
				}
			}
		}

		&-card {
			&-title {
				margin-right: 10px;
			}
		}
	}
}
