// .fw-medium {
// 	font-weight: 500;
// }

$utilities: map-merge(
	$utilities,
	(
		"font-weight":
			map-merge(
				map-get($utilities, "font-weight"),
				(
					responsive: true,
					values:
						map-merge(
							map-get(
								map-get($utilities, "font-weight"),
								"values"
							),
							(
								medium: $font-weight-medium,
							)
						),
				)
			),
		"font-size":
			map-merge(
				map-get($utilities, "font-size"),
				(
					responsive: true,
				)
			),
		"height":
			map-merge(
				map-get($utilities, "height"),
				(
					responsive: true,
				)
			),
		"line-height":
			map-merge(
				map-get($utilities, "line-height"),
				(
					responsive: true,
				)
			),
	)
);
