.timeline {
	padding-left: 48px;
	padding-right: 48px;

	@include mobile() {
		padding-left: 9px;
		padding-right: 9px;
	}

	&-pointer {
		@include mobile() {
			font-size: 14px;
		}

		&::before {
			content: "";
			width: 8px;
			height: 8px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			border-radius: 50%;
			background-color: white;
			border: 1px solid $primary;
			z-index: 10;
		}

		&.active {
			font-weight: 500;

			&::before {
				background: $primary;
			}
		}
	}
}
